
.weather{

display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
color: white;
margin-top: 1em;
    &__temperature_box{
        display: flex;
        align-items: center;
    
        p{
            margin-left: 0.2em;
        }
}

&__city{
    margin-top: 1em;
    margin-bottom: -1em;
}

&__temperature_box{
    margin-top: -1em;
}

}