@import '/src/assets/main.scss';

.ng-valid[required], .ng-valid.required  {
    border-left: 5px solid #42A948; 
  }
  
  .ng-invalid:not(form)  {
    border-left: 5px solid #a94442; 
  }



.scanner{
 position: relative;
 margin: 0 auto;
  background-color: $mainColor;
  padding: 1em;
  scroll-behavior: smooth;
  @media (min-width: $tablet){
  transform: translateY(-30%);
  width: 90vw;
  padding: 1em 0 1em 0;

    }
}

h1{
  font-size: 1.2rem;
  text-align: center;
  width: 80%;
  margin: 0 auto;
  padding: 1em;
  border-bottom: 1px solid rgba(0,0,0,0.2);
 text-transform: uppercase;
 color: $fontColor;
}

.alert{

  font-size: 0.5rem;
  color: red;
  text-align: center;

}

.alert > *{
  @media (min-width: $tablet){
    position: fixed;
    margin-left: 2em;
  }
}


form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 1em;

  @media (min-width: $tablet){
    flex-flow: row;
    padding: 2em 0;
    }

.form-group-wrapper{
  display: flex;
}


select, input{
  width: 300px;
  height: 3em;
  margin: 1em;
  border: none;
  border-radius: 5px;
  padding: 0.3em;

  @media (min-width: $tablet){

  width: calc(22vw - 4em);
   
    }
}

input{
  width: 130px;
  @media (min-width: $tablet){
   
    width: calc(17vw - 4em);
    
    }
}

app-button{
  margin: 1em;
}

}

.hidden{
 display: none;
}

.visible{
  display: block;
 }

.search-result{

  @media (min-width: $tablet){
   margin-bottom: 4em;
   
    }

  h1{
  border: none;
  }

  .search-card{
    width: fit-content;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    border: 1px solid $mainColor;
    border-left: 7px solid $secondColor;

    @media (min-width: $tablet){
      width: fit-content;
      flex-direction: row;
      justify-content: center;
      align-items: center;
     
      }
  }

  .show-fly{
    margin: 0 auto;
  }
  
  .price-info{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 1em;
    border-top: 1px solid $mainColor;

    @media (min-width: $tablet){
      height: 90%;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin: 0 auto;
      border-top: none;
      border-left: 1px solid rgba(0,0,0,0.2);
      }
  }

  .price{
    font-weight: 600;
  }
  
}

#no-results{

  margin: 4em;
  text-align: center;
  font-weight: 600;
  font-size: 2em;
  color:$fontColor;


}

