<div class="scanner">
    <h1>Choose your fly</h1>

    <form (ngSubmit)="onSubmit()" #userForm="ngForm">
    <div class="form-group">
        <select class="form-control" [(ngModel)]="model.from" name="from" id="from" required #from="ngModel" >
            <option *ngFor="let fromCity of fromCities">{{ fromCity }}</option>
        </select>
        <div *ngIf="from.invalid && from.touched"
        class="alert">
      <div *ngIf="from.errors.required">
        City is required.
      </div>
    </div>
    </div>
    <div class="form-group">
        <select class="form-control" [(ngModel)]="model.to" name="to" id="to" required #to="ngModel">
            <option *ngFor="let toCity of toCities" [value]="toCity">{{ toCity }}</option>
        </select>
        <div *ngIf="to.invalid && to.touched"
        class="alert">
      <div *ngIf="to.errors.required">
        Choose your destination
      </div>
    </div>
        </div>

     <div class="form-group-wrapper"> 
    <div class="form-group">
        <input type="date" class="form-control" id="date" [(ngModel)]="model.date" name="date" [min]="minDate" required #date="ngModel">
        <div *ngIf="date.invalid && date.touched"
        class="alert">
      <div *ngIf="date.errors.required">
        Choose departure date
      </div>
    </div>
    </div>
    <div class="form-group">
        <input type="number" min="1" max="20" class="form-control" id="people" [(ngModel)]="model.people" name="people" required #people="ngModel">
        <div *ngIf="people.invalid && people.touched"
        class="alert">
      <div *ngIf="people.errors.required">
        Choose number of passengers
      </div>
    </div>
    </div>
</div>  
    <app-button (click)="onSubmit()" [disabledRules]="userForm.invalid">Search</app-button>
    </form>
    </div>

<!--================ result card ============ -->


<div [ngClass]="!submitted || showFlight.getNoResult() == 'NO RESULTS'? 'hidden': ''" class="search-result"> 
  <h1>{{showFlight.getNoResult()}}</h1>

  <div class="search-card" id="result">
  <!-- search info  -->
  
<div class="show-fly">
  <app-show-flight></app-show-flight>
</div>
  <!-- price  -->
  <div class="price-info">
      <p class="price">{{showFlight.getNoResult() == 'NO RESULTS'? 0 : showFlight.getPrice()}} PLN</p>
      <app-button routerLink="/page2">Choose</app-button>
      </div>  
    </div>
</div>  

<!-- ====================resuld card end================== -->

<div *ngIf="submitted && showFlight.getNoResult() == 'NO RESULTS'" id="no-results">
  <p>No result</p>
</div>