
<div *ngIf="flightService.getNoResult() === 'Your Search'">

<div *ngIf="this.flightService.getDataArr() !== undefined" class="info">
    <div class="date">{{flightService.getDataArr()["Dates"]["OutboundDates"][0]["PartialDate"]}}</div>
    <div class="fly-info">
        <div class="start">
        <p class="start__hour">{{timeArr[0].hour}}:{{timeArr[0].minutes < 10? '0'+ (timeArr[0].minutes).toFixed() : (timeArr[0].minutes).toFixed()}}</p>
        <p class="start__city">{{flightService.getDataArr()["Places"][1]["Name"]}}</p>
    </div>

<!-- divider  -->
<div class="time">
    <i class="fas fa-plane"></i>
    <div class="line"></div>
    <div class="duration">{{getDuration()}}h</div>
</div>
<!-- divider end -->

    <div class="end">
        <p class="end__hour">{{getEndHour() }}:{{timeArr[0].minutes < 10? '0'+ (timeArr[0].minutes + 2).toFixed() : (timeArr[0].minutes + 2).toFixed()}}</p>
        <p class="end__city">{{flightService.getDataArr()["Places"][0]["Name"]}}</p>
    </div>
    </div>
</div>


</div>

