@import '/src/assets/main.scss';

.info{
    padding: 1em;
    color: $fontColor;

}

.fly-info{
    display: flex;
    justify-content: space-between;
    margin-top: 1em;

    .time{
        text-align: center;
    }
    .line{
        width: 150px;
        height: 1px;
        background-color: $mainColor;
        margin: 0 1em;
        @media (min-width: $tablet){
            width: 25vw;
           
            }
    }

    .start__hour, .end__hour{
        font-size: 1.5rem;
        font-weight: 600;
    }

    .start, .end{
        text-align: center;
    }
}


