<nav>
    <div class="upnav">
        <div (click)=" backToMain()" routerLink="/" class="logo">fly<b>logo</b></div>
        <div class="open-close">
            <i *ngIf="!open" (click)="openNav()" class="fas fa-bars"></i>
            <i *ngIf="open" (click)="closeNav()" class="fas fa-times"></i>
        </div>
    </div>
    <ul *ngIf="open" class="nav">
      
        <li class="nav__item"><a id="user">{{authservice.getUserEmail()}}</a></li>
        <li *ngIf="!authservice.getInfoAccess()" (click)="closeNav()" class="nav__item"> <a routerLink="/login" id="login">login</a></li>
        <li *ngIf="!authservice.getInfoAccess()" (click)="closeNav()" class="nav__item"><a routerLink="/signup" id="sign-up">sign up</a></li>
        <li *ngIf="authservice.getInfoAccess()" (click)="onLogOut()" class="nav__item"><a id="logout">logout</a></li>
    </ul>
</nav>