@import '/src/assets/main.scss';


section{
    margin-top: 4em;
    text-align: center;
}

.cabin{
width: fit-content;

padding: 2em; 
border: 1px solid rgba(0,0,0,0.2);
display: flex;
flex-wrap: wrap;
flex-direction: column;
align-content: center;

    &__sits{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .sit{
       text-align: center;
       margin-top: 1em;
      
    }

    div[id]{
        text-align: center;
        margin: 0 0.5em;
        width: 2em;
        height: 2em;
        border: 1px solid rgba(0,0,0,0.2);
        background-color: rgba(0,0,0,0.1);
    }

    .row{
        margin: 0 0.8em;
        margin-top: 1em;
        font-weight: 600;
    }

    .col{
        display: flex;
    }

  

}

.plane1, .plane2, .plane3{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 2em;
}

.legend{

    display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 1em;
  margin-bottom: 2em;

  &__content{
      display: flex;
      align-items: center;
      margin-top: 1em;
  }
    .grey, .red, .blue{
        text-align: center;
        margin: 0 0.5em;
        width: 1.5em;
        height: 1.5em;
        border: 1px solid rgba(0,0,0,0.2);
        background-color: rgba(0,0,0,0.1);
    }

    .red{
        background-color: rgba(218, 31, 31, 0.5);
    }

    .blue{
        background-color: $secondColorLighter;
    }

    p{
        font-size: 0.7rem;
    }

  
}

.clicked{
    background: rgba(218, 31, 31, 0.5) !important;
}


.plane{
    img{
        margin-top: 2em;
        width: 70%;
        height: auto;
        @media (min-width: $tablet){

           width: 40%;
            }
    }
}